{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>AP Items Patch By Patch</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="{% static 'apItems/js/underscore-min.js' %}"></script>
		<script src="{% static 'apItems/js/index.js' %}"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="{% static 'apItems/css/mystyles.css' %}">
		<link rel='shortcut icon' href="{% static 'apItems/images/favicon.png' %}" type='image/x-icon'/>
	</head>
	<body>
		<div class="nav-bar">
			<a href="index.html" class="nav-home">
				<div class="nav-bar-logo">
					Patch by Patch
				</div>
			</a>
			<a href="about.html" class="about">
				About
			</a>
			<div class="patches-compared">
				Patch
                <a href="http://na.leagueoflegends.com/en/news/game-updates/patch/patch-511-notes" target="_blank">5.11</a>
                vs
                <a href="http://na.leagueoflegends.com/en/news/game-updates/patch/patch-514-notes" target="_blank">5.14</a>
            </div>
		</div>
		<div class="list-view">
			<div class="inner-container">
			</div>
		</div>
	</body>
</html>
	