{% load staticfiles %}
<!DOCTYPE html>
<html>
	<head>
		<title>AP Items Patch By Patch</title>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="{% static 'apItems/js/underscore-min.js' %}"></script>
		<script src="{% static 'apItems/js/item.js' %}"></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="{% static 'apItems/css/mystyles.css' %}">
	</head>
	<body>
		<div class="nav-bar">
			<a href="index.html" class="nav-home">
				<div class="nav-bar-logo">
					Patch by Patch
				</div>
			</a>
			<a href="about.html" class="about">
				About
			</a>
			<div class="patches-compared">
				Patch
                <a href="http://na.leagueoflegends.com/en/news/game-updates/patch/patch-511-notes" target="_blank">5.11</a>
                vs
                <a href="http://na.leagueoflegends.com/en/news/game-updates/patch/patch-514-notes" target="_blank">5.14</a>
            </div>
		</div>
		<div class="full-item-description">
			<div class="item-main-name">
			</div>
			<div class="item-tree-and-img">
				<div class="build-from-items build-tree">
					<div class="from-items-label">
						Builds From
					</div>
					<div class="from-items item-tree-img">
					</div>
				</div>
				<div class="item-image-big">
					<img src="http://ddragon.leagueoflegends.com/cdn/5.16.1/img/item/{{ itemId }}.png" height="120">
				</div>
				<div class="build-into-items build-tree">
					<div class="into-items-label">
						Builds Into
					</div>
					<div class="into-items item-tree-img">
					</div>
				</div>
			</div>
			<div class="item-results">
				<div class="buy-rate-block info-block">
					Buy Rate
					<div class="buy-rate-info main-info">
					</div>
				</div>
				<div class="win-rate-block info-block">
					Win Rate
					<div class="win-rate-info main-info">
					</div>
				</div>
			</div>
		</div>
		<div class="champion-lists">
			<div class="champion-list-title">
				Popular Champions
			</div>
			<div class="champion-individual-list">
				<div class="champion-list-firstpatch champion-list">
				<div class="patch-number">
					5.11
				</div>
				</div>
				<div class="champion-list-secondpatch champion-list">
				<div class="patch-number">
					5.14
				</div>
				</div>
			</div>
		</div>
	</body>
</html>