body { 
  background: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url(../images/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

a {
    color: white;
    display: block;
}

body {
    font-family: Helvetica,Arial,sans-serif;
}

.nav-bar {
    height: 60px;
    color: white;
    position: fixed;
    width: 100%;
    z-index: 3;
    background: #000;
    top: 0;
}
.nav-bar-logo {
    margin-top: 16px;
    margin-left: 35px;
    font-size: 13pt;
}

.nav-home:hover {
    color: white;
    text-decoration: none;
}

.tags {
    float:left;
    color: white;
    margin-left: 100px;
    margin-top: 25px;
}

.list-view {
    width: 1025px;
    background-color: rgba(0,0,0,0.6);
    border-radius: 10px;
    margin: 85px auto 35px auto;
}

.inner-container {
    padding: 25px 0px 35px 0px;
}

.title {
    margin-bottom: 10px;
}

.icon {
    float: left;
    margin-top: 50px;
}

.item-description {
    margin-left: 50px;
    padding-top: 10px;
    clear: both;
    padding-bottom: 10px;
    width: 890px;
    font-size: 11.5pt;
}

div.item-description:nth-child(even) {
    background-color: rgba(20, 20, 20, .7) !important;
}

.item-description:last-child {
   border-bottom: none;
}

div.item-description:hover {
    background-color: #6B6B6B !important;
}

.item-img {
    margin-left: 10px;
    display: inline-block;
}

.labels {
    margin-left: 110px;
}

.label-for-chart {
    font-weight: bold;
    font-size: 14pt;
    color: white;
}

.rate {
    color: white;
    margin: 5px 0px 5px 0px;
}

.rate-container {
    margin: 15px 0px 0px 0px;
    display: inline-block;
    width: 133px;
}

.win-container-label {
    margin-left: 140px;
}

.rate-difference {
    display: inline-block;
    margin: 0px 65px 0px 25px;
    width: 50px;
    color: #FFFFFF;
}

.win-difference {
    margin-right: 0px;
}

.buy {
    margin-left: 50px;
}

.name-of-item {
    color: white;
    display: inline-block;
    margin: 15px 75px 0px 100px;
    width: 166px;
}

.patches-compared {
    text-align: center;
    color: white;
    font-size: 16pt;
}

.full-item-description {
    width: 900px;
    margin: 100px auto 0px auto;
}

.item-main-name {
    text-align: center;
    font-size: 18pt;
    color: #FFFFFF;
    padding: 0px 0px 20px 0px;
}

.item-image-big {
    width: 120px;
    margin: 0 auto;
}

.item-results {
    width: 475px;
    margin: 20px auto;
}

.info-block {
    color: white;
    font-size: 16pt;
    display: inline-block;
}

.buy-rate {
    float:left;
}

.patch-number {
    font-size: 10pt;
    color: #969696;
}

.arrow-item-page {
    float: left;
    padding: 15px 10px 0px 10px;
}

.item-difference-specific {
    text-align: center;
}

.main-info {
    background-color: rgba(0,0,0,.7);
    border-radius: 5px;
    padding: 15px 15px 15px 15px;
}

.item-specific-page {
    font-size: 18pt;
    color: white;
}

.arrow {
    margin: 0px 5px 0px 5px;
}

.champion-list-title {
    width: 800px;
    color: #FFFFFF;
    font-size: 16pt;
    margin: 0 auto;
}

.champion-list {
    display:inline-block;
    width: 370px;
    background-color: rgba(0,0,0,.7);
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
}

.champion-list-secondpatch {
    margin-left: 50px;
}

.champion-individual-list {
    width: 800px;
    margin: 0 auto;
}

@media screen and (max-width: 1025px) {
    .list-view {
        width: 850px;
    }
    .rate-container {
        margin-right: 50px;
    }

    .name-of-item {
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media screen and (max-width: 850px) {
    .list-view {
        width: 775px;
    }
    .rate-container {
        margin-right: 25px;
    }

    .name-of-item {
        margin-left: 25px;
        margin-right: 25px;
    }
}